= define_component bem_cascade: false do |component|
  = component.block :blockquote, tag: :blockquote do |blockquote|
    = blockquote.elem :body, tag: :p
    = blockquote.elem :footer, tag: :footer
