= define_component bem_cascade: false, tag: :div do |component|
  = component.block :progress, cls: 'progress' do |progress|
    = progress.elem :bar, role: :progressbar, cls: 'progress-bar', 'aria-valuemin': 0, 'aria-valuemax': 100
